_ngo/*
_xmsgs/*
ipcore_dir/*
iseconfig/*
isim/*
xlnx_auto_0_xdb/*
xst/*
*.exe
*.bgn
*.bld
*.html
*.cmd_log
*.ini
*.gise
*.map
*.lso
*.csv
*.mrp
*.ncd
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.sym
*.log
*.twr
*.twx
*.unroutes
*.ut
*.drc
*.wcfg
*.wdb
*.cmd
*.xise
*.xml
*.xmsgs
*.xpi
*.xrpt
*.xst
*.xwbt
